body {
    margin: 0;
    padding: 0;
}

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

h1, h2, h3, p, a {
    font-family: 'Dosis', sans-serif;
}

p, label, input[type=submit] {
    font-family: 'Lato', sans-serif;
}