:root {
    --strawberry-pink: #E72C70;
    --lemon-yellow: #F7F249;
    --heaven-blue: #82D1E4;

    --pink: #FF4C8E;
    --vivid-blue: #60D1D6;
    --warm-lemon: #F7E200;

    --pastel-pink: #FF98BE;
    --pastel-blue: #CAE3E8;
    --pastel-yellow: #FFFF99;
}